<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963029478507-ae7dg54vlk22krk0vs6ifkgtjiabbof9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963029478507-ae7dg54vlk22krk0vs6ifkgtjiabbof9</string>
	<key>API_KEY</key>
	<string>AIzaSyCevSQKMyMGnsaWxIs72t8BJJKZdDuY37w</string>
	<key>GCM_SENDER_ID</key>
	<string>963029478507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hieudinh.HDProject</string>
	<key>PROJECT_ID</key>
	<string>hdframework1</string>
	<key>STORAGE_BUCKET</key>
	<string>hdframework1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963029478507:ios:dd68bd4e249aea9560552e</string>
	<key>DATABASE_URL</key>
	<string>https://hdframework1.firebaseio.com</string>
</dict>
</plist>